<div id="content_display">
    <h3 class="addressbook_title">ADDRESS BOOK</h3>
    <div class="row addressbook_heading">
        <div class="col-md-4 addressbook_heading_address text-left">
            <h4>ADDRESS</h4>
        </div>
        <div class="col-md-4 addressbook_heading_delivery text-center">
            <h4>DELIVERY</h4>
        </div>
        <div class="col-md-4 addressbook_heading_action text-right">
            <h4>ACTION</h4>
        </div>
    </div>

    <div class="row addressbook_address_list">
        <div class="col-md-4 addressbook_list_address text-left">
            <div class="addressbook_list_name">
                N.Subramaniyan
            </div>
 <div class="addressbook_list_addressline1">
                2/56-20
            </div>
             <div class="addressbook_list_addressline2">
                 Sakthi Nagar
            </div>
             <div class="addressbook_list_city">
                 Coimbatore-64031
            </div>
             <div class="addressbook_list_state">
                 Tamilnadu
            </div>
             <div class="addressbook_list_country">
                 India
            </div>
        </div>
        <div class="col-md-4 addressbook_list_delivery text-center">
            <input class="address" type="radio" name="address" value="Default">Default Address
        </div>
        <div class="col-md-4 addressbook_list_action text-right">
            <button class="btn btn-default" type="button">Edit</button>
            <button class="btn btn-default" type="button">Delete Address</button>
        </div>
    </div>
    <div class="addressbook_newaddress text-right">
<button class="btn btn-default" type="button">Add New Address</button>
    </div>
</div>