<div id="content_display">
    <div class="row">
        <div class="col-md-8">
            <div class="cart_title">
                <span class="cart_title_left"> <h5> SHOPPING BAG <span class="cart_title_noofitems">(2 items)</span> </h5>
                </span>


                <span class="cart_total">
            <h5>TOTAL&#8377 {{ price }}</h5>
        </span>
            </div>
            <hr>
            <div class="cart_particulars" ng-repeat="product in cart_list">
                <div class="cart_particulars_image">
                    <img class="img-responsive cart_particulars_icon" src="{{ product.product.img_url }}">
                </div>
                <div class="cart_particulars_details">
                    <span class="cart_particulars_brandname">
                <h4>{{ product.product.name }}</h4>
                </span>
                    <span class="cart_particulars_brandname">
              {{ product.product.brand.name }}
                </span>
                    <div class="cart_particulars_details1">
                        <span class="cart_particulars_color">
                    colour:Blue
                </span>
                        <span class="cart_particulars_quantity">
                   {{ "Quantity: " + product.quantity }}
                    </span>
                        <span class="cart_particulars_size">
                    {{ "Size: " + product.size }}
                </span>
                    </div>
                </div>
                <div class="cart_particulars_removebutton">
                    <span class="glyphicon glyphicon-remove"></span>
                    <span class="cart_particulars_remove">Remove</span>
                </div>
                <div class="cart_particulars_amount">
                    &#8377 {{ product.price }}
                </div>
            </div>
            <hr>
            

        </div>
        <div class="col-md-4">
            <div class="cart_particulars_shoppingbutton">
                Continue Shopping
            </div>
            <div class="cart_particulars_right">
                <h4 class="text-center">ORDER SUMMARY</h4>
                <div class="cart_particulars_couponmain">
                    <span class="coupon_cart">
            <input type="text" class="coupon_cart1" placeholder="Coupons" id="cpnid" name="voucherCode">
            </span>
                    <span class="coupon_apply">
            <input class="btn-applycpn coupon_apply1" type="submit" value="Apply Coupon">
            </span>
                </div>
                <hr>
                <div class="cart_particulars_subtotal">
                    <span class="cart_subtotal">
            Sub Total
                </span>
                    <span class="cart_subtotal_price">
            &#8377 {{ price }}
                </span>
                </div>
                <div class="cart_particulars_delivery">
                    <span class="cart_delivery">
            Delivery Charges
                </span>
                    <span class="cart_delivery_price">
           FREE
                </span>
                </div>
                <div class="cart_particulars_coupon_discount">
                    <span class="cart_coupon_discount">
            Coupon Discount
            </span>
                    <span class="cart_coupon_discunt_price">
            NA
                </span>

                </div>
                <hr>
                <div class="cart_particulars_payable">
                    <span class="cart_payable">
            Payable Amount
            </span>
                    <span class="cart_payable_price">
            &#8377 {{ price }}
                </span>

                </div>
                <div class="cart_particulars_coupon_discount">
                    <span class="cart_coupon_discount">
            You Saved
            </span>
                    <span class="cart_coupon_discunt_price">
            &#8377 0
                </span>

                </div>
                <div class="cart_particulars_placebutton">
                    Place Order
                </div>

            </div>
        </div>


    </div>