<div id="content_display">
    <div id="content_brands">
        <div class="row content_brand_row">
           <a href="#"><div class="col-md-4 home_brands">
                <img class="brand_image" src="assets/images/brands.jpg">
               </div></a>
               <a href="#"><div class="col-md-4 home_brands">
                <img class="brand_image" src="assets/images/brands.jpg">
               </div></a>
               <a href="#"><div class="col-md-4 home_brands">
                <img class="brand_image" src="assets/images/brands.jpg">
               </div></a>

        </div>
  <div class="row content_brand_row">
           <a href="#"><div class="col-md-4 home_brands">
                <img class="brand_image" src="assets/images/brands.jpg">
               </div></a>
               <a href="#"><div class="col-md-4 home_brands">
                <img class="brand_image" src="assets/images/brands.jpg">
               </div></a>
               <a href="#"><div class="col-md-4 home_brands">
                <img class="brand_image" src="assets/images/brands.jpg">
               </div></a>

        </div>
    </div>
</div>