<div id="content_display">
    <h3 class="order_heading">MY ORDERS</h3>
    <div class="row order_list">
        <div class="order_id">
            <h4>Order ID: order1034938</h4>
        </div>
        <div class="row order_product">
            <div class="col-md-3 order_product_icon">
                <img src="assets/images/p1.jpg" class="order_product_image">
            </div>
            <div class="col-md-6 order_product_details">
                <div class="order_product_name">
                    <h5>Round neck tshirt</h5></div>
                <div class="order_product_description">
                    <div class="order_product_color">Colour: Green</div>
                    <div class="order_product_size">Size: M</div>
                    <div class="order_product_quantity">Quantity: 2</div>
                </div>
            </div>
            <div class="col-md-3 order_product_price">
                Rs. 840
            </div>
        </div>
        <div class="order_history_details">
            <div class="col-md-6 order_history_details_date">
                Date: Sat, 4th Jul'15
            </div>
            <div class="col-md-6 order_history_details_total">
                Order Total: Rs.840
            </div>
        </div>
    </div>
</div>