<div id="content_display">
    <h3 class="wishlist_title text-center">
    WISH LIST
    </h3>
    <div class="wishlist_whole">
        <div class="row">
            <div class="col-md-3 wishlist_whole_image">
                <img src="assets/images/p1.jpg" class="wishlist_image">
            </div>
            <div class="col-md-9">

                <div class="wishlist_description">
                    <h4>Round Neck Tshirt</h4>
                    <div class="wishlist_color">Colour: Green</div>
                    <div class="wishlist_size">Size: M</div>
                    <div class="wishlist_price">
                        Rs. 840
                    </div>
                     <button class="btn btn-default wishlist_button_remove" type="button">Remove</button>
            <button class="btn btn-default" type="button">Add To Cart</button>
                </div>

            </div>

        </div>
    </div>
</div>
</div>