<div id="content_display">
    <h2 class="text-center">WOMEN CLOTHING</h2>
    <div class="row women_clothing">
        <div class="col-md-3">
            <img class="resize" src="assets/images/PHOTO 5.jpg">
        </div>
        <div class="col-md-3">
            <img class="resize" src="assets/images/PHOTO 6.jpg">
        </div>
        <div class="col-md-3">
            <img class="resize" src="assets/images/PHOTO 7.jpg">
        </div>
        <div class="col-md-3">
            <img class="resize" src="assets/images/PHOTO 8.jpg">
        </div>
    </div>
    <div class="row colthing_row2">
        <div class="col-md-3">
            <img class="resize" src="assets/images/PHOTO 5.jpg">
        </div>
        <div class="col-md-3">
            <img class="resize" src="assets/images/PHOTO 6.jpg">
        </div>
        <div class="col-md-3">
            <img class="resize" src="assets/images/PHOTO 7.jpg">
        </div>
        <div class="col-md-3">
            <img class="resize" src="assets/images/PHOTO 8.jpg">
        </div>
    </div>
    <h2 class="text-center">WOMEN ACCESSORIES</h2>
    <div class="row women_clothing">
        <div class="col-md-3">
            <img class="resize" src="assets/images/PHOTO 5.jpg">
        </div>
        <div class="col-md-3">
            <img class="resize" src="assets/images/PHOTO 6.jpg">
        </div>
        <div class="col-md-3">
            <img class="resize" src="assets/images/PHOTO 7.jpg">
        </div>
        <div class="col-md-3">
            <img class="resize" src="assets/images/PHOTO 8.jpg">
        </div>
    </div>

</div>